@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap');

:root{
    --green:#87ceeb;
    --black:#192a56;
    --light-color:#666;
    --box-shadow:0 .5rem 1.5rem rgba(0,0,0,.1);
}

*{
    font-family: 'Nunito', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none; border:none;
    text-transform: capitalize;
    transition: all .2s linear;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 5.5rem;
    scroll-behavior: smooth;
}

section{
    padding:2rem 9%;
}

section:nth-child(even){
    background:#eee;
}

.sub-heading{
    text-align: center;
    color:var(--green);
    font-size: 2rem;
    padding-top: 1rem;
}

.heading{
    text-align: center;
    color:var(--black);
    font-size: 2rem;
    padding-bottom: 2rem;
    text-transform: uppercase;
}

.btn{
    margin-top: 1rem;
    display: inline-block;
    font-size: 1.7rem;
    color:#fff;
    background: var(--black);
    border-radius: .5rem;
    cursor: pointer;
    padding:.8rem 3rem;
}

.btn:hover{
    background: var(--green);
    letter-spacing: .1rem;
}

header{
    position: fixed;
    top:0; left: 0; right:0;
    background: #fff;
    padding:1rem 7%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    box-shadow: var(--box-shadow);
}

header .logo{
    color:var(--black);
    font-size: 2.5rem;
    font-weight: bolder;
}

header .logo i{
    color:var(--green);
}

header .navbar a{
    font-size: 1.7rem;
    border-radius: .5rem;
    padding:.5rem 1.5rem;
    color:var(--light-color);
}

header .navbar a.active,
header .navbar a:hover{
    color:#fff;
    background: var(--green);
}

header .icons i,
header .icons a{
    cursor: pointer;
    margin-left: .5rem;
    height:4.5rem;
    line-height: 4.5rem;
    width:4.5rem;
    text-align: center;
    font-size: 1.7rem;
    color:var(--black);
    border-radius: 50%;
    background: #eee;
}

header .icons i:hover,
header .icons a:hover{
    color:#fff;
    background: var(--green);
    transform: rotate(360deg);
}


.home{
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.home #particles-js{
  position: absolute;
  top:0; left:0;
  height:100%;
  width:100%;
}

.home::before{
  content: '';
  position: absolute;
  top:0; left:0;
  height:100%;
  width:100%;
}

.home .content{
  text-align: center;
  position: relative;
  z-index: 1;
}

.home .content img{
  height: 25rem;
  width:25rem;
  border-radius: 50%;
  object-fit: cover;
  border:1rem solid var(--green);
}

.home .content h3{
  font-size: 4rem;
  color:#222;
  text-transform: uppercase;
}

.home .content h3 span{
  color:var(--green);
  text-transform: uppercase;
}

.home .content p{
  color:#222;
  font-size: 2.5rem;
  line-height: 2;
}

.home .content p span{
  color: var(--green)
}

.register form,
.login form {
  max-width: 40rem;
  border-radius: .5rem;
  padding: 2rem;
  background: #fff;
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  border: 0.2rem solid #333;
  margin: 1rem auto;
}

.register form h3,
.login form h3 {
  font-size: 2.5rem;
  padding-bottom: 1rem;
  color: #333;
  text-transform: uppercase;
}

.register form .box,
.login form .box {
  width: 100%;
  padding: 1.2rem 1.4rem;
  border-radius: .5rem;
  border: 0.2rem solid #333;
  font-size: 1.6rem;
  color: #666;
  text-transform: none;
  margin: .7rem 0;
}

.register form .remember,
.login form .remember {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: .5rem;
  padding-top: 1.5rem;
  padding-bottom: 1rem;
}

.register form .remember label,
.login form .remember label {
  font-size: 1.5rem;
  color: #666;
  cursor: pointer;
}

.register form .btn,
.login form .btn {
  width: 100%;
  text-align: center;
}

.register form .btn.link,
.login form .btn.link {
  background: #333;
}

.register form .btn.link:hover,
.login form .btn.link:hover {
  background: #0984e3;
}

.register form p,
.login form p {
  padding-top: 2rem;
  font-size: 1.5rem;
  color: #666;
  text-align: center;
  padding-bottom: 1rem;
}



.faq .accordion-container {
    max-width: 70rem;
    margin: 0 auto;
  }
  
  .faq .accordion-container .accordion {
    background: #fff;
    margin-bottom: 1.5rem;
    -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
            box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  }
  
  .faq .accordion-container .accordion:last-child {
    margin-bottom: .5rem;
  }
  
  .faq .accordion-container .accordion.active .accordion-heading {
    background: #0984e3;
  }
  
  .faq .accordion-container .accordion.active .accordion-heading i {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  
  .faq .accordion-container .accordion.active .accordioin-content {
    display: block;
  }
  
  .faq .accordion-container .accordion .accordion-heading {
    padding: 2rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 1rem;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    background: #333;
    cursor: pointer;
  }
  
  .faq .accordion-container .accordion .accordion-heading h3 {
    font-size: 2rem;
    color: #fff;
  }
  
  .faq .accordion-container .accordion .accordion-heading i {
    font-size: 2rem;
    color: #fff;
  }
  
  .faq .accordion-container .accordioin-content {
    padding: 2rem;
    font-size: 1.5rem;
    line-height: 2;
    color: #666;
    display: none;
    -webkit-animation: fadeIn .2s linear;
            animation: fadeIn .2s linear;
  }
  
  



  .declaration form{
    max-width:90rem;
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
    border:.1rem solid rgba(0,0,0,.2);
    background:var(--green);
    padding:1.5rem;
    margin:0 auto;
    align-content: center;
  }
  
  .declaration form .inputBox{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .declaration form .inputBox .input{
    width:49%;
  }
  
  .declaration form .inputBox .input span{
    display:block;
    padding:.5rem 0;
    font-size: 1.5rem;
    color:black;
  }
  
  .declaration form .inputBox .input input,
  .declaration form .inputBox .input textarea{
    background:#eee;
    border-radius: .5rem;
    padding:1rem;
    font-size: 1.6rem;
    color:var(--black);
    text-transform: none;
    margin-bottom: 1rem;
    width:100%;
  }
  
  .declaration form .inputBox .input input:focus,
  .declaration form .inputBox .input textarea:focus{
    border:.1rem solid var(--green);
  }
  
  .declaration form .inputBox .input textarea{
    height:20rem;
    resize: none;
  }
  
  .declaration form .btn{
    margin-top: 0;
  }
  
  
.property form{
  max-width: 40rem;
  border-radius: .5rem;
  padding: 2rem;
  background: var(--green);
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  border: 0.2rem solid #333;
  margin: 1rem auto;
  display:flex;
  flex-wrap: wrap;
  gap:1.5rem;
  
}

.property form h3 {
  font-size: 2.5rem;
  padding-bottom: 1rem;
  color: #333;
  text-transform: uppercase;
}

.property form .box {
  width: 100%;
  padding: 1.2rem 1.4rem;
  border-radius: .5rem;
  border: 0.2rem solid #333;
  font-size: 1.6rem;
  color: #666;
  text-transform: none;
  margin: .7rem 0;
}

.property form .remember  {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: .5rem;
  padding-top: 1.5rem;
  padding-bottom: 1rem;
}

.property form .remember label {
  font-size: 1.5rem;
  color: #666;
  cursor: pointer;
}

.property form .btn
 {
  width: 100%;
  text-align: center;
}

.property form .btn.link {
  background: #333;
}

.property form .btn.link:hover {
  background: #0984e3;
}


.property form p,
.movable form p {
  padding-top: 2rem;
  font-size: 1.5rem;
  color: #666;
  text-align: center;
  padding-bottom: 1rem;
}


.movable form{
  max-width: 40rem;
  border-radius: .5rem;
  padding: 2rem;
  background: var(--green);
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  border: 0.2rem solid #333;
  margin: 1rem auto;
  display:flex;
  flex-wrap: wrap;
  gap:3.5rem;
}

.movable form h3 {
  font-size: 2.5rem;
  padding-bottom: 1rem;
  color: #333;
  text-transform: uppercase;
}

.movable form .box {
  width: 100%;
  padding: 1.2rem 1.4rem;
  border-radius: .5rem;
  border: 0.2rem solid #333;
  font-size: 1.6rem;
  color: #666;
  text-transform: none;
  margin: .7rem 0;
}

.movable form .remember  {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: .5rem;
  padding-top: 1.5rem;
  padding-bottom: 1rem;
}

.movable form .remember label {
  font-size: 1.5rem;
  color: #666;
  cursor: pointer;
}

.movable form .btn
 {
  width: 100%;
  text-align: center;
}

.movable form .btn.link {
  background: #333;
}

.movable form .btn.link:hover {
  background: #0984e3;
}



.joint form{
  max-width: 40rem;
  border-radius: .5rem;
  padding: 2rem;
  background: var(--green);
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  border: 0.2rem solid #333;
  margin: 1rem auto;
  display:flex;
  flex-wrap: wrap;
  gap:3.5rem;
}

.joint form h3 {
  font-size: 2.5rem;
  padding-bottom: 1rem;
  color: #333;
  text-transform: uppercase;
}

.joint form .box {
  width: 100%;
  padding: 1.2rem 1.4rem;
  border-radius: .5rem;
  border: 0.2rem solid #333;
  font-size: 1.6rem;
  color: #666;
  text-transform: none;
  margin: .7rem 0;
}

.joint form .remember  {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: .5rem;
  padding-top: 1.5rem;
  padding-bottom: 1rem;
}

.joint form .remember label {
  font-size: 1.5rem;
  color: #666;
  cursor: pointer;
}

.joint form .btn
 {
  width: 100%;
  text-align: center;
}

.joint form .btn.link {
  background: #333;
}

.joint form .btn.link:hover {
  background: #0984e3;
}

.other form{
  max-width:90rem;
  border-radius: .5rem;
  box-shadow: var(--box-shadow);
  border:.1rem solid rgba(0,0,0,.2);
  background:var(--green);
  padding:1.5rem;
  margin:0 auto;
}

.other form .inputBox{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.other form .inputBox .input{
  width:49%;
}

.other form .inputBox .input span{
  display:block;
  padding:.5rem 0;
  font-size: 1.5rem;
  color:var(--light-color);
}

.other form .inputBox .input input,
.other form .inputBox .input textarea{
  background:#eee;
  border-radius: .5rem;
  padding:1rem;
  font-size: 1.6rem;
  color:var(--black);
  text-transform: none;
  margin-bottom: 1rem;
  width:100%;
}

.other form .inputBox .input input:focus,
.other form .inputBox .input textarea:focus{
  border:.1rem solid var(--green);
}

.other form .inputBox .input textarea{
  height:20rem;
  resize: none;
}

.other form .btn{
  margin-top: 0;
}


.bills form{
  max-width:90rem;
  border-radius: .5rem;
  box-shadow: var(--box-shadow);
  border:.1rem solid rgba(0,0,0,.2);
  background:var(--green);
  padding:1.5rem;
  margin:0 auto;
}

.bills form .inputBox{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.bills form .inputBox .input{
  width:49%;
}

.bills form .inputBox .input span{
  display:block;
  padding:.5rem 0;
  font-size: 1.5rem;
  color:var(--light-color);
}

.bills form .inputBox .input input,
.bills form .inputBox .input textarea{
  background:#eee;
  border-radius: .5rem;
  padding:1rem;
  font-size: 1.6rem;
  color:var(--black);
  text-transform: none;
  margin-bottom: 1rem;
  width:100%;
}

.bills form .inputBox .input input:focus,
.bills form .inputBox .input textarea:focus{
  border:.1rem solid var(--green);
}

.bills form .inputBox .input textarea{
  height:20rem;
  resize: none;
}

.bills form .btn{
  margin-top: 0;
}


.footer {
  background: #f5f5f5;
}

.footer .box-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(25rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 1.5rem;
}

.footer .box-container .box h3 {
  font-size: 2.2rem;
  padding: 1rem 0;
  color: #302851;
}

.footer .box-container .box a {
  display: block;
  font-size: 1.4rem;
  padding: 1rem 0;
  color: #666;
}

.footer .box-container .box a:hover {
  color: var(--green);
}

.footer .box-container .box a:hover i {
  padding-right: 2rem;
}

.footer .box-container .box a i {
  color: var(--green);
  padding-right: .5rem;
}

.footer .credit {
  text-align: center;
  margin-top: 2rem;
  padding: 1rem;
  padding-top: 2.5rem;
  font-size: 2rem;
  color: #666;
  border-top: 0.1rem solid rgba(0, 0, 0, 0.1);
}

.footer .credit span {
  color: var(--green);
}
  
  .loader-container{
    position: fixed;
    top:0; left:0;
    height:100%; 
    width:100%;
    z-index: 10000;
    background:#fff;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.loader-container img{
    width:35rem;
}

.loader-container.fade-out{
    top:-110%;
    opacity:0;
}




































/* media queries  */

@media (max-width:991px){

    html{
        font-size: 55%;
    }
    
    header{
        padding:1rem 2rem;
    }

    section{
        padding:2rem;
    }


}

@media (max-width:768px){

    header .icons #menu-bars{
        display: inline-block;
    }

    header .navbar{
        position: absolute;
        top:100%; left:0; right:0;
        background:#fff;
        border-top: .1rem solid rgba(0,0,0,.2);
        border-bottom: .1rem solid rgba(0,0,0,.2);
        padding:1rem;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }

    header .navbar.active{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }

    header .navbar a{
        display: block;
        padding:1.5rem;
        margin:1rem;
        font-size: 2rem;
        background:#eee;
    }

    
}

